<div class="mb-md text-bold">
  <% if question.author.nil?%>
    Анонимно
  <% elsif question.author == current_user %>
    Вы задали
  <% else %>
    От <%= link_to nickname_output(question.author), user_path(question.author) %>
  <% end %>
  <% if question.user == current_user %>
    вам:
  <% else %>
    пользователю <%= link_to nickname_output(question.user), user_path(question.user) %>:
  <% end %>
</div>

<div class="mb-sm">
  <%= simple_format(html_escape(question.body)) %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if question.user == current_user %>
    <div>
      <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Изменить вопрос' %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос', form: { data: { turbo_confirm: 'Удалить вопрос?'}} %>
      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :put, title: 'Скрыть вопрос', form: { data: { turbo_confirm: 'Скрыть вопрос?'}} %>
      <% end %>
    </div>
  <% end %>
</div>
