<div class="container">
  <h2 class="title-lg mb">
    Недавно добавились
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render 'users/user_avatar', user: user %>
    <% end %>
  </div>
</div>

<% unless @hashtags.empty?%>
  <div class="container mt">
    <h2 class="title-lg mb-md">Теги</h2>
    <% @hashtags.each do |hashtag| %>
      <%= hashtag_link(hashtag) %>
    <% end %>
  </div>
<% end %>

<div class="container mt">
  <h2 class="title-lg mb-md">
    <% if params[:tag]%>
      Вопросы <%= hashtag_link(@tag) %>
    <% else %>
      <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
      <%= @questions.count %>
      <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
    <% end %>
  </h2>
  <% @questions.each do |question|%>
    <%= render question %>
  <% end %>
</div>
