<div class="container">
  <h2 class="title-lg mb">
    Недавно добавились
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render "users/user_avatar", user: user %>
    <% end %>
  </div>
</div>

<div class="container mt">
  <h2 class="title-lg mb-md">Теги</h2>
  <%= render partial: "hashtags/hashtag", collection: @hashtags %>
</div>

<div class="container mt">
  <h2 class="title-lg mb-md">
    <% if params[:tag]%>
      Вопросы <%= hashtag_link(@tag) %>
    <% else %>
      <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
      <%= @questions.count %>
      <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
    <% end %>
  </h2>
  <% @questions.each do |question|%>
    <div class="mb-lg">
      <h2 class="title-sm mb"><%= question_link question %></h2>
      <%= render question %>
      <% unless question.hashtags.empty? %>
        <span class="text-bold">Теги:</span>
        <%= render partial: "hashtags/hashtag", collection: question.hashtags%>
      <% end %>
    </div>
  <% end %>
</div>
