<div class="container">
  <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>

  <div class="mb-sm">
    <%= render "question", question: @question %>
  </div>

  <div class="text-bold">Ответ:</div>
  <% if @question.answer.present? %>
    <div class="mb-sm text-dark-red">
      <%= @question.answer %>
    </div>
  <% else %>
    <div class="mb-sm text-grey">отсутсвует</div>
  <% end %>

  <% unless @question.hashtags.empty? %>
    <%= render "questions/tags", hashtags: @question.hashtags%>
  <% end %>

  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
