<div class="user-box mb-sm">
  <h2 class="title-lg mt-lg"><%= @user.name %></h2>

  <div class="mt">
    <%= render "users/user_avatar", user: @user %>
  </div>
  <p class="text-bold mt mb-lg">@<%= @user.nickname %></p>
  <% if current_user == @user %>
    <p class="mt mb-lg">
      <%= link_to fa_icon('pencil'), edit_user_path(@user.nickname) %>
    </p>
  <% end %>
</div>

<%= link_to 'Спроси меня', new_question_path(user_nickname: @user.nickname), class: 'button button-yellow' %>

<% if @questions.any? %>
  <div class="container mt-sm">
    <h2 class="title-lg">
      <%= @questions.count %>
      <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
    </h2>
  </div>

  <% @questions.each do |question| %>
    <div class="mt-sm container">
      <h2 class="title-sm mb"><%= question_link question %></h2>
      <%= render question %>
      <span class="text-bold">Теги:</span>
      <%= render question.hashtags %>
    </div>
  <% end %>
<% else %>
  <%= render "users/empty_state", user: @user %>
<% end %>
